* {
    font-family: 'Gabarito', sans-serif;
    color: #d1d1d1;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    background: linear-gradient(#141414 35%, #0a060a 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

nav {
    font-size: 24px;
    display: flex;
    gap: 20px;
}

img{
    width: 40%;
    border-radius: 50%;
    padding: 20px;
    float: left;
}

main {
    width: 800px;
    flex-direction: column;
    padding: 15px 30px 20px 20px;
    text-align: justify;

    background-color: #1a1a1a8c;
    border-radius: 20px;
}

h2 {
    color: #C771C7;
}

p {
    color: #b1b1b1;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

    font-size: 14px;
}

a {
    font-size: 15px;
    text-decoration: none;
}

@media (max-width: 500px) {
    body {
        background-color: #141414;
        background: linear-gradient(#141414 35%, #0a060a 100%);
        height: auto;
    }

    header {
        width: 100%;
        gap: 20px;
        padding: 20px;
    }

    nav {
        text-align: center;
        gap: 10px;
    }

    main {
        display: flex;
        flex-direction: column;
        max-width: 100%
    }
    
    main img {
        width: 100%
    }

    main h1 {
        text-align: center;
    }
}